@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



.valComparePara{
  @apply max-w-[450px] min-w-[450px] bg-slate-300 rounded-md flex flex-col
}

.delPara{
  @apply max-w-[450px] min-w-[450px] bg-red-400 rounded-md flex flex-col
}

.addPara{
  @apply max-w-[450px] min-w-[450px] bg-green-400 rounded-md flex flex-col
}